/* Media centralizando a header ----- Caso o cliente queira esta mudança */
/* @media (max-width: 980px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .nav,
  .busca-imoveis {
    width: 100%;
    justify-content: center;
  }
} */

/* ------ BOTÃO E TEXTO WPP ------- */
@media (min-width: 1002px) {
  .header .botao-whatsapp {
    display: none;
  }
}

@media (max-width: 1002px) {
  .header .texto-wpp {
    display: none;
  }
  /* ------ BOTÃO E TEXTO WPP ------- */

  .header .avatar-wpp {
    display: none;
  }

  .header .botao-wpp {
    display: none;
  }
}

@media (max-width: 816px) {
  .header .header-nome {
    display: none;
  }
}

@media (max-width: 552px) {
  .botao-whatsapp:hover {
    background-color: var(--color-whatsapp-hover);
  }

  .buscar .texto-busca {
    display: none;
  }

  .buscar .icone-busca {
    padding: 5px;
    font-size: 30px;
  }

  .busca-imoveis select {
    width: 100px;
    height: 48px;
  }
}

@media (max-width: 404px) {
  .header .menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .buscar {
    padding: 5px;
    font-size: 30px;
  }

  .buscar .icone-busca {
    padding: 3px;
    font-size: 32px;
  }
}

@media (max-width: 376px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
}
